/* Keep sentiment color even on row hover */
.ant-table-tbody > tr:hover > td.sentiment-good {
  background-color: #52c41a !important;
}

.ant-table-tbody > tr:hover > td.sentiment-neutral {
  background-color: #d9d9d9 !important;
}

.ant-table-tbody > tr:hover > td.sentiment-amber {
  background-color: #faad14 !important;
}

.ant-table-tbody > tr:hover > td.sentiment-bad {
  background-color: #ff4d4f !important;
}
